body {
  position: relative; 
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('/background_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

body::before {
  content: "";
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5); 
  z-index: -1;          
}
